<div>
    <search-heroes :countries="countries" :powers="powers" @filter-heroes="loadHeroes($event)"></search-heroes>
    <div>
        <h2>List Of Heroes</h2>
        <router-link tag="a" to="/create-hero" class="btn btn-sm btn-success">Create New Hero</router-link>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NickName</th>
                    <th>Country</th>
                    <th>Gender</th>
                    <th>DateOfBirth</th>
                    <th>Powers</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="heroes && countries && powers" v-for="hero in heroes">
                    <td>{{hero.ID}}</td>
                    <td>{{hero.NickName}}</td>
                    <td>{{hero.CountryID | countryByID(countries)}}</td>
                    <td>{{hero.IsMale | genderToStr}}</td>
                    <td>{{hero.DateOfBirth}}</td>
                    <td>
                        <span v-for="powerID in hero.PowerIDs" class="badge">
                        {{powerID | powerByID(powers)}} 
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>