<div>
    <hr/>
    <input v-model="filterHero.Nickname" placeholder="search by nickname">
    <div>
        <label>Search by power</label>
        <select v-model="filterHero.PowerID" class="form-control">
            <option v-for="power in powers" v-bind:value="power.ID">
                {{ power.Name }}
            </option>
        </select>
    </div>
    <div>
        <label>Search by country</label>
        <select v-model="filterHero.CountryID" class="form-control">
            <option v-for="country in countries" v-bind:value="country.ID">
                {{ country.Name }}
            </option>
        </select>
    </div>
    <label> IsMale <input type="checkbox" v-model="filterHero.IsMale"/></label>
    <button @click="search">Search</button>
</div>