<template id="create-hero-template">
    <div class="col-sm-8 col-sm-offset-2">
        <h3>Create new Hero</h3>
        <form v-on:submit.preventDefault="submitHero">
            <div class="form-group">
                <label for="nickName">Nick Name:</label>
                <input v-model="hero.NickName" placeholder="Hero NickName" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Date Of Birth</label>
                <input v-model.date="hero.DateOfBirth" class="form-control">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" v-model="hero.IsMale"> IsMale</label>
            </div>
            <div class="form-group">
                <select v-model="hero.PowerIds" multiple class="form-control">
                    <option v-for="power in powers" v-bind:value="power.ID">
                        {{ power.Name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <div v-for="country in countries">
                    <input type="radio" v-bind:value="country.ID" v-model="hero.CountryId">
                    <label>{{country.Name}}</label>
                    <br>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</template>

