@{
    ViewBag.Title = "Vue App Page";
}

<div id="app">
    <h1>Heroes information system</h1>
    <ul>
        <li><router-link to="/list-heroes">List</router-link></li>
        <li><router-link to="/create-hero">Add new hero</router-link></li>
    </ul>
    <router-view></router-view>
</div>

<template id="create-hero-template">
    <div>
        <h1>Welcome to hero creation page!!!</h1>
        <div class="form-group">
            <input v-model="hero.NickName" placeholder="Hero NickName" data-rules="required|min:10" class="form-control"/>
            <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
        </div>
        <div class="form-group">
            <input type="checkbox"v-model="hero.IsMale">
            <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
        </div>
        <div class="form-group">
            <select v-model="hero.PowerIds" multiple class="form-control">
                <option v-for="power in powers" v-bind:value="power.ID">
                    {{ power.Name }}
                </option>
            </select>
            <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
        </div>
        <div class="form-group">
            <div v-for="country in countries">
                <input type="radio" v-bind:value="country.ID" v-model="hero.CountryId">
                <label>{{country.Name}}</label>
                <br>
            </div>
            <span>Picked: {{ hero.CountryId }}</span>
        </div>
    </div>
</template>

<template id="list-heroes-template">
    <div>
        <h1>Welcome to list of heroes page!!!</h1>
    </div>
</template>
@Scripts.Render("~/VueApp/bundle.js")
